<ion-modal-view ng-swipe-right="closeModal(2)" style="width: 80%; max-height: 60%; min-height: 60%; top: 20%; left: 10%; right: 10%; bottom: 29%; overflow: hidden;">
    <header class="bar bar-header UWSP-Purple" style="margin-bottom: 4em;">
        <h1 class="title white-text">Floor Plans</h1>
        <div class="button UWSP-Purple no-border" ng-click="closeModal(2)"><span class="icon ion-close"></span></div>
    </header>
    <ion-content padding="true" style="padding: 4em 0 4em 0;">
        <ul style="margin-top: 0.9em;">
            <li class="item" ng-repeat="floor in floorsAvailable track by $index" ng-click="openFloorPlan(building.id, '{{floor}}');" style="text-align: center;">Floor {{floor}}</li>
        </ul>
    </ion-content>
</ion-modal-view>