<?xml version='1.0' encoding='utf-8'?>
<widget id="edu.uwsp.pointerToolkit" version="1.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Pointer Toolkit</name>
    <description>Pointer Toolkit provides a variety of modules to keep busy Pointers organized and new Pointers acquainted with living on campus.</description>
    <author email="tkrause@uwsp.edu" href="http://www.uwsp.edu/">
    Tim Krause, Nicholas Kubley, Kierstan Leaf, Dakota Oakley, Emily Wiedoff, Jordan Bleu, Joe Hollman
  </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <icon src="resources\ios\icon\icon-small@3x.png" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="SplashScreenDelay" value="2000" />
    <preference name="FadeSplashScreenDuration" value="200" />
    <preference name="android-minSdkVersion" value="16" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="SplashScreen" value="screen" />
    <preference name="ShowTitle" value="False" />
</widget>
