<div class="modal bottom-sheet" ng-model="building" ng-swipe-down="closeModal(1)">
    <header class="bar bar-header UWSP-Purple">
        <h1 class="title white-text">{{building.name}}</h1>
        <div class="button UWSP-Purple no-border" ng-click="closeModal(1)"><span class="icon ion-close"></span></div>
    </header>
    <ion-content padding="true">
        <div class="row" style="padding-top: 5em; height: 80%;">
                <img id="thumbnail" class="buildingThumbnail" style="display: block; height: 100%; margin: 0 auto;" ng-src="./assets/img/{{building.imageUrl}}" alt="Building Photo" />
                <div id="addressText" style="padding: 10px; font-size: 17px; font-weight: bold; color: white; position: absolute; margin: 0 auto; background: linear-gradient(rgba(254, 203, 99, 1), rgba(254, 203, 99, 0.7)); left: 50%; display: block;">{{building.address}}</div>
        </div>
        <div class="row">
            <div class="col col-50">
                <div style="width: 135px; margin: 0 auto;"><a class="button button-positive shadow-1 UWSP-Gold" nav-transition="none" href="#" ng-click="loadInteriorModal(building.id, null)" style="border: 0px; width: 100%;">Interior Maps</a></div>
            </div>
            <div class="col col-50">
                <div style="width: 135px; margin: 0 auto;"><a class="button button-positive shadow-1 UWSP-Gold" nav-transition="none" href="#" ng-click="routeToBuilding(building.id)" style="border: 0px; width: 100%;">Take Me There</a></div>
            </div>
        </div>
    </ion-content>
</div>
